.Main {
  background-color: #d8d8d8;
  height: 100vh;
  padding: 24px;
}

/* Input start */

.InputWrap {
  display: flex;
  height: 50px;
  border-radius: 12px;
  box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.25);
  margin-bottom: 24px;
}

.Input {
  width: 80%;
  padding: 4px 8px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #3ABAC0;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: 0;
}

.Button {
  width: 20%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Input finish */

/* Card start */

.CardList {
  display: flex;
}

.Card {
  width: 200px;
  height: fit-content;
  padding: 12px;
  border-radius: 12px;
  background-color: #3ABAC0;
  font-size: 14px;
  color: #fff;
  margin-left: 24px;
  box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.25);
}

.Card:first-child{
  margin-left: 0;
}

.MainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  font-size: 24px;
  font-weight: 500;
}

.Description {
  margin-top: 4px;
  font-size: 16px;
}


.Temperature {
  margin-top: 12px;
  font-size: 40px;
  font-weight: 500;
}

.Temperature::after {
  content: '°';
}

.Information {
  margin-top: 12px;
}

.Information > div {
  margin-top: 4px;
}
/* Card finish */